:root{
    --brown: #a38658;
    --light-brown: #e0d2ba;
    --dark-brown: #6b4b38;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        'header'
        'main';
    height: 100vh;
}

svg{
    width: 30px;
    height: 30px;
}

/* --Header-- */
header{
    display: flex;
    grid-area: header;
    background-color: var(--brown);
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}

.header-left > .logo-container{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.header-left > .logo-container svg{
    width: 80px;
    height: 80px;
}

.header-right nav > ul{
    display: flex;
    gap: 1rem;
    list-style-type: none;
    align-items: center;
}

.header-right nav > ul li{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* --Main-- */
main{
    display: grid;
    grid-area: main;
    background-color: var(--light-brown);
}

#books-container{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.book-card-container,
.add-new-book-card-container{
    width: 380px;
    height: 480px;
    padding: 1rem;
}

#books-container > .book-card-container{
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 12px solid var(--dark-brown);
}

#books-container > .add-new-book-card-container{
    border: none;
    background-color: var(--dark-brown);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-new-book-btn{
    border: none;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    font-size: 1.75rem;
    cursor: pointer;
}

.book-card-container .read-status-toggle-btn{
    width: 30px;
    height: 70px;
    border: none;
    position: absolute;
    top: 0;
    cursor: pointer;
}

.book-card-container .remove-book-btn{
    position: absolute;
    right: 1rem;
    top: 1rem;
    padding: 0.5rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.book-title,
.book-author{
    text-align: center;
}

.book-title{
    font-size: 1.75rem;
    margin-top: auto;
}

.book-footer{
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* --Dialog Modal-- */
dialog::backdrop{
    background-color: var(--dark-brown);
    opacity: 0.85;
}

dialog[open]{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    border-radius: 15px;
    margin: auto;
    padding: 1.5rem;
    gap: 1rem;
    font-size: 1.1rem;
}

dialog h2{
    font-size: 1.7rem;
}

dialog form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.25rem;
}

dialog form > div{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

dialog form input[type="text"],
dialog form input[type="number"]{
    padding: 0.5rem 0.75rem;
    border-radius: 10px;
    border: 2px solid var(--brown);
    font-size: 1rem;
}

dialog form input[type="text"]:focus,
dialog form input[type="number"]:focus{
    outline: none;
    border: 2px solid var(--dark-brown); 
    background-color: #fffcf7;
}

dialog .form-read-status-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

dialog .radio-container{
    display: flex;
    gap: 1.65rem;
}

dialog input[type="radio"],
dialog label[for="yes"]:hover,
dialog label[for="no"]:hover{
    cursor: pointer;
}

dialog input[type="radio"]{
    appearance: none;
    border: 1px solid var(--dark-brown);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

dialog input[type="radio"]::before{
    content: "";
    background-color: var(--dark-brown);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.25s ease;
}

dialog input[type="radio"]:checked:before{
    transform: scale(1);
}

dialog .button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

.yes-radio-container,
.no-radio-container{
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    align-items: center;
    justify-content: center;
}

#cancel,
#submit{
    background-color: var(--dark-brown);
    color: white;
    padding: 1rem 3.5rem;
    border: none;
    border-radius: 6px;
    font-size: 0.95rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#cancel:hover,
#submit:hover{
    background-color: var(--brown);
}
