@font-face {
    font-family: 'playfair display';
    src: url(./assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}

:root{
    --brown: #a38658;
    --light-brown: #e0d2ba;
    --lighter-brown: #ede9e4;
    --dark-brown: #6b4b38;
    --darker-brown: #422f24;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'playfair display', sans-serif, serif;
}

.container{
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        'header'
        'main';
    height: 100vh;
}

svg{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/* --Header-- */
header{
    display: flex;
    grid-area: header;
    background-color: var(--brown);
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.25);
    z-index: 1;
}

header h1{
    font-size: 3rem;
    font-weight: 600;
    color: var(--lighter-brown);
    letter-spacing: 1px;
}

.header-left > .logo-container{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.header-left > .logo-container svg{
    width: 80px;
    height: 80px;
    fill: var(--darker-brown);
}

.header-right nav > ul{
    display: flex;
    gap: 2rem;
    list-style-type: none;
    align-items: center;
}

.header-right nav > ul li{
    display: flex;
    align-items: center;
    gap: 0.35rem;
    position: relative;
}

.header-right nav > ul li::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--darker-brown);
    width: 0;
    height: 2px;
    transition: width 0.2s ease;
}

.header-right nav > ul li:hover::before{
    width: 100%;
}

.header-right nav > ul li svg{
    fill: var(--darker-brown);
    height: 35px;
    width: 35px;
}

.header-right nav > ul li a{
    text-decoration: none;
    color: var(--lighter-brown);
    font-size: 1.25rem;
    letter-spacing: 1px;
}

/* --Main-- */
main{
    display: grid;
    grid-area: main;
    background-color: var(--light-brown);
}

#books-container{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
    gap: 1rem;
    padding: 2rem 1rem;
}

.book-card-container,
.add-new-book-card-container{
    width: 380px;
    height: 480px;
    padding: 1rem;
}

#books-container > .book-card-container{
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 15px solid var(--dark-brown);
    border-radius: 0 15px 15px 0;
}

#books-container > .add-new-book-card-container{
    border: none;
    background-color: var(--dark-brown);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease;
}

#books-container > .add-new-book-card-container:has(.add-new-book-btn:hover){
    background-color: var(--brown);
}

.add-new-book-btn{
    border: none;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    font-size: 1.75rem;
    cursor: pointer;
}


.book-card-container .read-status-toggle-btn{
    width: 30px;
    height: 70px;
    border: none;
    position: absolute;
    top: 0;
    cursor: pointer;
}

.book-card-container .remove-book-btn{
    position: absolute;
    right: 1rem;
    top: 1rem;
    padding: 0.5rem;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: var(--dark-brown);
    color: white;
    transition: 0.2s ease;
}

.book-card-container .remove-book-btn:hover{
    background-color: var(--brown);
}

.book-title,
.book-author{
    text-align: center;
}

.book-title{
    font-size: 1.75rem;
    margin-top: auto;
}

.book-footer{
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.book-footer .fav-toggle-container svg{
    fill: var(--dark-brown);
    transition: 0.2s ease;
}

.book-footer .fav-toggle-container svg:hover{
    fill: var(--brown);
}

/* --Dialog Modal-- */
dialog::backdrop{
    background-color: var(--dark-brown);
    animation: backdrop-fade 0.2s ease forwards;
}

@keyframes backdrop-fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 0.85;
    }
}

dialog{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    border-radius: 15px;
    margin: auto;
    padding: 1.5rem;
    gap: 1rem;
    font-size: 1.1rem;
    opacity: 0;
}

dialog[open] {
    animation: modal-pop 0.35s ease forwards;
}

@keyframes modal-pop {
    from {
        opacity: 0;
        transform: scale(0.75);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

dialog form label,
dialog form p{
    font-size: 1.15rem;
}

dialog h2{
    font-size: 1.75rem;
    font-weight: 800;
}

dialog form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.25rem;
}

dialog form > div{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

dialog form input[type="text"],
dialog form input[type="number"]{
    padding: 0.5rem 0.75rem;
    border-radius: 10px;
    border: 2px solid var(--brown);
    font-size: 1rem;
}

dialog form input[type="text"]:focus,
dialog form input[type="number"]:focus{
    outline: none;
    border: 2px solid var(--dark-brown); 
    background-color: #fffcf7;
}

dialog .form-read-status-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

dialog .radio-container{
    display: flex;
    gap: 1.65rem;
}

dialog input[type="radio"],
dialog label[for="yes"]:hover,
dialog label[for="no"]:hover{
    cursor: pointer;
}

dialog input[type="radio"]{
    appearance: none;
    border: 1px solid var(--dark-brown);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

dialog input[type="radio"]::before{
    content: "";
    background-color: var(--dark-brown);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.25s ease;
}

dialog input[type="radio"]:checked:before{
    transform: scale(1);
}

dialog .button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

.yes-radio-container,
.no-radio-container{
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    align-items: center;
    justify-content: center;
}

#cancel,
#submit{
    background-color: var(--dark-brown);
    color: white;
    padding: 1rem 3.5rem;
    border: none;
    border-radius: 6px;
    font-size: 0.95rem;
    font-family: 'playfair display', sans-serif, serif;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#cancel:hover,
#submit:hover{
    background-color: var(--brown);
}
